<nz-layout class="admin-layout">
  <app-sidebar></app-sidebar>
  <nz-layout class="admin-right">
    <app-navbar></app-navbar>
    <app-tabs-bar></app-tabs-bar>
    <nz-content class="admin-content">
      <router-outlet></router-outlet>
      @if (s.watermark) {
        <div class="watermark-overlay">
          @for (idx of watermarkTiles; track $index) {
            <span class="watermark-tile">{{ s.watermarkText }}</span>
          }
        </div>
      }
    </nz-content>
    <app-footer></app-footer>
  </nz-layout>
</nz-layout>
<app-config-setting></app-config-setting>
