@mixin transition($property: all, $duration: 0.2s, $easing: ease) {
  transition: $property $duration $easing;
}

@mixin truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
