<nz-header class="admin-navbar">
  <div class="navbar-left">
    <button
      class="navbar-toggle"
      nz-icon
      [nzType]="collapsed ? 'menu-unfold' : 'menu-fold'"
      nzTheme="outline"
      (click)="toggleSidebar()"
    ></button>
    <app-breadcrumb></app-breadcrumb>
  </div>
  <div class="navbar-right">
    <app-search-box></app-search-box>
    <app-change-language></app-change-language>
    <app-toggle-theme></app-toggle-theme>
    <app-fullscreen></app-fullscreen>
    <button
      class="navbar-action"
      nz-icon
      nzType="setting"
      nzTheme="outline"
      (click)="openSettings()"
    ></button>
    <div class="user-dropdown" nz-dropdown [nzDropdownMenu]="userMenu">
      <nz-avatar nzSize="small" nzText="AD" class="user-avatar"></nz-avatar>
    </div>
    <nz-dropdown-menu #userMenu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item disabled>
          <strong>{{ username }}</strong
          ><br />
          <small>{{ email }}</small>
        </li>
        <li nz-menu-divider></li>
        <li nz-menu-item>
          <span nz-icon nzType="user" nzTheme="outline"></span> {{ 'navbar.profile' | translate }}
        </li>
        <li nz-menu-item>
          <span nz-icon nzType="setting" nzTheme="outline"></span>
          {{ 'navbar.settings' | translate }}
        </li>
        <li nz-menu-divider></li>
        <li nz-menu-item class="text-danger" (click)="logout()">
          <span nz-icon nzType="logout" nzTheme="outline"></span> {{ 'navbar.logout' | translate }}
        </li>
      </ul>
    </nz-dropdown-menu>
  </div>
</nz-header>
